* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-Container{
    border: solid red;
    width:100%;
    height:100vh;
}

.Home-section{
    border: solid yellow; 
    width:100%;
    height:50vh;
    display: flex;
    flex-wrap: wrap;

}

.slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    scroll-snap-type: y mandatory;
    max-width: 100%;
}

.Categories-Section{
     border: solid red;
    width:100%;
    height:30vh;
}

/* WIREFRAME LOOK */
section, footer{
    border: 2px solid black;
    margin: 10px;
    padding: 15px;
}
.nav{
    border: 2px solid orange;
    margin: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.01); 
    backdrop-filter: blur;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

} 
.logo{
        font-size: 1.8rem;
        font-weight: 700;
        color: black;
        letter-spacing: 1px;
        margin-right: auto;
}
.nav-links{
    justify-content: center;
    /* padding-left: 60%; */
    display: flex;
    gap: 30px;
}
.btns{
    display: flex;
} 
btn{
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #38bdf8;
    color: #0f172a;
    box-shadow: 0 0 15px #38bdf8;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

/* man and female product */
.man-container{
    border: solid green;
    width: 100%;
    height: 100%;
}

.Nike{
    background-image: url(img/banners/Nike\ banner.jpg) ;
    background-size: cover;
    height:300px;
}

.Adidas{
    background-image: url(img/banners/adidas\ banner.jpg);
    background-size: cover;
    height:300px;
}

.New-balance{
    background-image: url(img/banners/new\ balance.jpeg);
    background-size: cover;
    height:300px;
}

.Puma{
    background-image: url(img/banners/Puma\ banner.jpeg);
    background-size:contain;
    height:300px;
}

.Nike-girl{
    background-image: url(img/banners/nike\ girl\ banner.jpeg);
    background-size: cover;
    height:300px;
}

.Adidas-girl{
    background-image: url(img/banners/adidas\ girl\ banner.jpeg);
    background-size:contain;
    height:300px;
}

.New-balance-girl{
    background-image: url(img/banners/new\ balance\ girls.jpeg);
    background-size: cover;
    height:300px;
}

.Puma-girl{
    background-image: url(img/banners/puma\ girls\ banner.jpeg);
    background-size:contain;
    height:300px;
}

.product{
  width: 120px;
  height: 190px;
  display:inline-block;
  justify-content: center;
  align-items: center;
}

.product-img{
    width:90px;
    height:90px;
}
.product-button{
    width:80px;
    height: 30px;
    background-color: black;
    color: white;
}


/* FOOTER */
.Footer-Section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: solid purple;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 150px;
}